
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}


p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}


table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.08);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


thead {
  background: rgba(255, 255, 255, 0.2);
}

th {
  padding: 12px;
  font-size: 14px;
  color: #fff;
}


td {
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}


tbody tr:hover {
  background: rgba(255,255,255,0.1);
  transition: 0.3s;
}


button {
  background: #ff4d4d;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff0000;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }
}